* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 color: black;
}

body {
  padding: 2rem;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}

img {
  width: 120px;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10vw;
}

.workout-link-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5vw;
  color: white;
}

.menu-item {
  background-image: url("../public/triangle-position.png");
  width: auto;
  height: auto;
}

.logBtn {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.yogaPic {
  width: 350px;
  height: 200px;
  margin: 30%;
}

.headline {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

.loginBtn {
  width: 60vw;
  height: auto;
  background-color: #ead5e6;
  border-radius: 10px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 5vh;
}
.workoutPic {
  width: auto;
  height: 80px;
  margin: 10px 0px 10px 0px;
}



.greeting-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.menu-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10%;

 
}

.logoutBtn {
  width: 70vw;
  height: 5vh;
  background-color: #ead5e6;
  border-radius: 10px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.backArrowPic {
  width: 20px;
  height: 20px;
}
.animatedPic {
  width: 200px;
  height: 200px;
}

.exercisePic {
  width: 200px;
  height: auto;
}

.workout-container {
 width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;

  
}

.exercise-name {
  margin-top: 5vh;
  font-size: 36px;
}

.timer-container {

    display: flex;
  align-items:center;
  justify-content:flex-start;
  width: 100%;
  height: auto;

}

.timer {
  font-size: 24px;
}




.container-info {

display: flex;
flex-direction: column;
align-items:center;
justify-content:center;
height: auto;
width: 100%;



}



.time-counter-text {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

width: 100%;
margin-top: 10%;
}

.playBtn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;

}

.playBtnPic {
  width: 30px;
  height: auto;
}

.stopBtn-container {
  background-color: #eac9de;
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
border:none;
font-family: "Montserrat", sans-serif;
font-weight: bold;
}


.spotify-container {
 
  width: 100%;
  height: 10vh;
  padding: 0;
}

.disconnectSpotify {
  width: 70vw;
  height: 5vh;
  background-color: #80b71a6c;
  border-radius: 10px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify {
  width: 100%;
  height: 20vh;
  padding-top: 10%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
}

.spotify-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.spotify-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.spotifyPlayer {
  margin-top: 20px;
}


.playlist-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}